<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner text-center">
    <div class="carousel-item active" style="background-image: url('carousel1.jpg'); background-size: cover;">
      <%= image_tag "carousel1.jpg", class: "d-block w-100", alt: "..." %>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="display-1">Welcome to Wanderwise</h1>
        <p class="lead">Plan your trip with us</p>
        <button type="button" class="btn btn-primary mx-auto mt-3" data-bs-toggle="modal" data-bs-target="#trip_name" style="z-index: 1;">
          Start your trip
        </button>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url('carousel2.jpg'); background-size: cover;">
      <%= image_tag "carousel2.jpg", class: "d-block w-100", alt: "..." %>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="display-1">Welcome to Wanderwise</h1>
        <p class="lead">Plan your trip with us</p>
        <button type="button" class="btn btn-primary mx-auto mt-3" data-bs-toggle="modal" data-bs-target="#trip_name" style="z-index: 1;">
          Start your trip
        </button>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url('carousel3.jpg'); background-size: cover;">
      <%= image_tag "carousel3.jpg", class: "d-block w-100", alt: "..." %>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="display-1">Welcome to Wanderwise</h1>
        <p class="lead">Plan your trip with us</p>
        <button type="button" class="btn btn-primary mx-auto mt-3" data-bs-toggle="modal" data-bs-target="#trip_name" style="z-index: 1;">
          Start your trip
        </button>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url('carousel3.jpg'); background-size: cover;">
      <%= image_tag "carousel3.jpg", class: "d-block w-100", alt: "..." %>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="display-1">Welcome to Wanderwise</h1>
        <p class="lead">Plan your trip with us</p>
        <button type="button" class="btn btn-primary mx-auto mt-3" data-bs-toggle="modal" data-bs-target="#trip_name" style="z-index: 1;">
          Start your trip
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="trip_name" tabindex="-1" aria-labelledby="title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content py-0 px-2">
      <div class="modal-header">
        <h5 class="modal-title" id="title">Trip Title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <%= render 'shared/trip_name_popup' %>
      </div>
    </div>
  </div>
</div>
