<div class="overview">
  <div class="">
    <h1 class="">Location</h1>
    <div class="border-dark border-3 border-top border-bottom py-3">
      <% if @trip.location.present?%>
        <%= render 'shared/location_card', location: @trip.location %>
      <% else %>
        <%= link_to "Add Location", locations_path(@trip), class: "btn btn-primary p28" %>
      <% end %>
    </div>
  </div>
  <div class="">
    <h1 class="">Flight</h1>
    <div class="border-dark border-3 border-top border-bottom py-3">
      <% if @trip.flights.present?%>
        <%= render 'shared/flight_cards' %>
      <% else %>
        <%= link_to "Add flight", trip_flights_path(@trip_id), class: "btn btn-primary p28" %>
      <% end %>
    </div>
  </div>
  <div class="">
    <h1 class="">Hotel</h1>
    <div class="border-dark border-3 border-top border-bottom py-3">
      <% if @trip.hotels.present?%>
        <%= render 'shared/hotel_card', hotel: @trip.hotel %>
      <% else %>
        <%= link_to "Add hotel", trip_hotels_path(@trip_id), class: "btn btn-primary p28" %>
      <% end %>
    </div>
  </div>
  <div class="">
    <h1 class="">Activity</h1>
    <div class="border-dark border-3 border-top border-bottom py-3">
      <% if @trip.activities.present?%>
        <%= render 'shared/activity_cards' %>
      <% else %>
        <%= link_to "Add activitiy", trip_activities_path(@trip_id), class: "btn btn-primary p28" %>
      <% end %>
      <div class="days-of-week d-flex">
        <% days_of_week = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %>
        <% days_of_week.each do |day| %>
        <div class="day-box">
          <h3><%= day %></h3>
          <!-- Add your activity selection logic here -->
          <!-- You may use checkboxes, dropdowns, or any other input method -->
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
