<div class="overview">
  <div class="">
    <h1 class="">Location</h1>
    <div class="border-dark border-3 border-top border-bottom py-3">
      <% if @trip.location.present?%>
        <%= render 'shared/location_card', location: @trip.location %>
      <% else %>
        <%= link_to "Add Location", homepage_path, class: "btn btn-primary p28" %>
      <% end %>
    </div>
  </div>
  <div class="">
    <h1 class="">Flight</h1>
    <div class="border-dark border-3 border-top border-bottom py-3">
      <% if @trip.flights.present?%>
        <%= render 'shared/flight_cards' %>
      <% else %>
        <%= link_to "Add flight", homepage_path, class: "btn btn-primary p28" %>
      <% end %>
    </div>
  </div>
  <div class="">
    <h1 class="">Hotel</h1>
    <div class="border-dark border-3 border-top border-bottom py-3">
      <% if @trip.hotels.present?%>
        <%= render 'shared/hotel_card', hotel: @trip.hotel %>
      <% else %>
        <%= link_to "Add hotel", homepage_path, class: "btn btn-primary p28" %>
      <% end %>
    </div>
  </div>
  <div class="">
    <h1 class="">Activity</h1>
    <div class="border-dark border-3 border-top border-bottom py-3">
      <% if @trip.activities.present?%>
        <%= render 'shared/activity_cards' %>
      <% else %>
        <%= link_to "Add activitiy", homepage_path, class: "btn btn-primary p28" %>
      <% end %>
    </div>
  </div>
</div>
