<div class="activity-product">
	<div class="card">
		<div class="poster"><img src="<%= cl_image_path(activity.photo.key, resize: '200x300') %>" alt="<%= activity.name %>"></div>
		<div class="details">
			<h1><%= activity.name %></h1>
			<h2><%= activity.address %></h2>
			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="far fa-star"></i>
				<span>4.2/5</span>
			</div>
			<p class="desc">
				<%= activity.description %>
			</p>
  <div class="dropup">
  <button id="button_style" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <% if defined?(trip)%>
    <% trip.date_range.each do |date| %>
    <li><a class="dropdown-item" href="<%= trip_activities_path(trip, activity_id: activity.id, date: date) %>" data-turbo-method="post"><%= date %></a></li>
    <% end %>
    <% end %>

  </ul>
</div>
		</div>
	</div>
</div>
