<div class="flight-product">
  <div class="flight-info">
    <div class="flight-product-infos">
      <div>
        <h2><%= flight.start_location %><i class="fa-solid fa-arrow-right"></i> <%= flight.end_location %></h2>
        <p><%= flight.start_date %> at <%= flight.start_time.strftime("%H:%M") %></p>
      </div>
    </div>
    <div class="flight-product-infos">
      <div>
        <h2><%= flight.end_location %><i class="fa-solid fa-arrow-right"></i> <%= flight.start_location %></h2>
        <p><%= flight.end_date %> at <%= flight.end_time.strftime("%H:%M") %></p>
      </div>
    </div>
  </div>
  <div class="flight-price">
    <p class="price-label">Return flight<br/>
      <span class="price-label-grey">Per person</span>
    </p>
    <span class="flight-price-total"><%= flight.price %> €</span>
    <% if select_btn %>
      <%= link_to new_trip_flight_path(@trip, flight_id: flight.id, ppl: 2 ) do  %>
        <button id="button_style" class="select-flight-button">Select</button>
      <% end %>
    <% end %>
  </div>
</div>
