<% Flight.all.each do |flight| %>
<div class="flight-product">
  <div class="flight-info">
    <div class="flight-product-infos">
      <div>
        <h2><%= flight.start_location %><i class="fa-solid fa-arrow-right"></i> <%= flight.end_location %></h2>
        <p><%= flight.start_date %></p>
      </div>
    </div>
    <div class="flight-product-infos">
      <div>
        <h2><%= flight.end_location %><i class="fa-solid fa-arrow-right"></i> <%= flight.start_location %></h2>
        <p><%= flight.end_date %></p>
      </div>
    </div>
  </div>
  <div class="flight-price">
    <p class="price-label">Return flight<br/>
      <span class="price-label-grey">Per person</span>
    </p>
    <span class="flight-price-total"><%= flight.price %> $</span>
    <button class="select-flight-button">Select</button>
  </div>
</div>
<% end %>
