<div class="row" style="height: 300px; width: 800px;">
  <div class="col-md-12 me-4" style="padding: 20px; border-radius: 2px; height: 300px;">
    <h2><%= @hotel.name %></h2>
    <div class="d-flex">
      <img src="<%= cl_image_path(@hotel.photo.key, resize: '200x300', width: 150) %>" alt="<%= @hotel.name %>" class="wider-image img-fluid border border-black">
      <div class="ms-3">
        <div>
          <h4>Description:</h4>
          <p><%= @hotel.description %></p>
        </div>
        <div>
          <h4>Address:</h4>
          <p><%= @hotel.address %></p>
        </div>
      </div>
    </div>
  </div>
</div>
