<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <li class="nav-item dropdown">
      <%= link_to "#", class: "btn btn-ghost", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
        <i class="fas fa-bars"></i>
      <% end %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Start trip", locations_path('s'), class: "dropdown-item" %>
          <%= link_to "Locations", locations_path(@trip), class: "dropdown-item" %>
          <%= link_to "Flights", trip_flights_path(@trip), class: "dropdown-item" %>
          <%= link_to "Hotels", trip_hotels_path(@trip), class: "dropdown-item" %>
          <%= link_to "Activities", trip_activities_path(@trip), class: "dropdown-item" %>
        </div>

    </li>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbarTitle">
      <% if @trip_id.present? %>
        <%= link_to locations_path(@trip_id), :action => 'go' do%>
          <%= image_tag "logo.png", size: "50x50", class: "rounded-circle" %>
        <% end %>
        <%= link_to locations_path(@trip_id), :action => 'go' do%>
          <h1><strong>Wanderwise</strong></h1>
        <% end %>
      <% else %>
        <%= image_tag "logo.png", size: "50x50", class: "rounded-circle" %>
        <h1><strong>Wanderwise</strong></h1>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "https://icons.iconarchive.com/icons/papirus-team/papirus-status/512/avatar-default-icon.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My trips", trips_path, class: "dropdown-item" %>
              <%= link_to "Edit account", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
